// assets/scss/partials/_colors.scss

// Colori
$text-color: #f4f4f4;
$button-colors: (
  primary: #0e6cff,
  secondary: #ff8700,
  success: #4caf50
);
$bg-hero: #640c5a;

// Colore principale
$primary-color: #0e6cff;
